.header {
  background-color: royalblue;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  
   > nav {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
   }
}

.link {
  font-size: 24px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 700;
}

.linkActive {
  border: 1px solid whitesmoke;
  composes: link;
  color: black;
  background-color: orange;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}